/*Documento CSS*/

* { margin: 0px;
    padding: 0px;
    font-size: 100%;}

header, nav, section, article, aside, footer { display: block;
                                               box-sizing: border-box;}

/*TIPOGRAFÍA*/

@font-face {
    font-family: 'arimoregular';
    src: url('fonts/arimo-regular-webfont.woff2') format('woff2'),
         url('fonts/arimo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 { font-family: 'arimoregular'; }
h2{ font-family: 'arimoregular'; }

h3 { font-family: 'open_sansregular';
     text-align: center;
     font-size: 2rem;
     text-decoration: underline;
     padding-bottom: 15px;}

h4 { font-family: 'arimoregular';
     font-size: 1.5rem;
     text-align: center;
     padding-top: 42%;
     display: block;
     text-shadow: 0px 0px 1px white;
     width: 100%;}

h5 { font-family: 'arimoregular';
     display: block;
     padding: 5px 0px 30px 0px;
     font-size: 1.4rem;
     text-decoration: underline;
     width: 100%;
     text-align: center;}


h6 { font-family: 'arimoregular';
    text-transform: uppercase;
    color: #153994;
    padding-left: 0px !important;
    }

h6.warning, h6.int { padding-top: 15px;}

#cuerpo span.fa { text-decoration: none;}
/*NAVEGACIÓN*/

#menu { width: 100%;
        min-height: 50px;
        background-color: #B39BC5;
        overflow: hidden;}

#menu ul { display: block;
           width: 70%;
           min-width: 50px;
           list-style-type: none;
           float: right;}

#menu li { display: block;
           width: 50%;
           height: 50px;
           float: left;}

#menu li:first-child { display: none;}

#menu a { font-family: 'open_sansregular';
          text-align: center;
          display: block;
          width: 100%;
          height: 50px;
          float: left;
        padding-top: 12px;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        text-decoration: none;
        color: #000000;
        font-size: 1rem;}

#menu a.none  { border-bottom: 0px; }

#menu a:hover { background-color: #D7C9E1; }


/*lAYOUT*/

.logo { width:150px;
        margin: 0px;
        float: left;
        position: relative;
        top: 1px;
        left: -8px;
        -webkit-transform: rotateZ(10deg);
	    -moz-transform: rotateZ(10deg);
	    -o-transform: rotateZ(10deg);
        }

.logoimg { width: 100%;
           height: auto;}

.flag { display: block;
        width: 100%;
        min-height: 1px;
        padding-top: 5px;
        overflow: hidden;
        }

.flag a {  display: inline-block;
           width: 40px;
           height: 25px;
           background-size: 100%;
           margin: 1px 5px;
           float: right;
           background-image: url(img/mex.jpg);
}

.flag a.usa { background-image: url(img/usa.jpg); }


.tel { display: none;}

.callnow { display: block;
           width: 60px;
           height: 60px;
           position:absolute;
           bottom: 4vw;
           right: 4vw;
           border-radius: 30px;
           box-shadow: 0px 0px 1px black;
           background-image: url(img/callnow.jpg);
           background-color: #63e26f;
           background-position: center center;
           background-size: 100%;
           position: fixed;
           }


#contenedor { width: 100%;
              min-height: 1px;
              overflow: hidden;}

#cabecera { width: 100%;
            height: 40px;
            float: left;
            }

#cuerpo { width: 100%;
          min-height: 1px;
          padding: 15px 0px;
          }

.contenido { width: 100%; 
            font-family: 'open_sansregular';
            min-height: 1px;
            overflow: hidden;
            padding: 10px 10px 20px 10px;
            box-sizing: border-box;}

.homeart { display: none;}

#cuerpo p { padding-bottom: 1.5rem;
            line-height: 1.8rem;
            }

#cuerpo span { text-transform: uppercase;
               text-decoration: underline;
               font-size: 1.12rem;}

#sidebar { display: none;
          /*width: 100%;
          min-height: 1px;
          padding: 10px 0px;*/}

/*BOTON LLAMADA A LA ACCIÓN PEDIR INFO*/
.btninfo {
	background-color:#915eb8;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #153994;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:12px 46px;
	text-decoration:none;
    width: 60%;
    text-align: center;
    margin: auto;
}
.btninfo:hover {
	background-color:#b39bc5;
}
.btninfo:active {
	position:relative;
	top:1px;
}


#tratamientos { width: 100%;
                padding: 15px 0px;
                min-height: 1px;
                overflow: hidden;
                background-color: #b39bc5;
                font-family: 'arimoregular'; }

#tratamientos a { display: block;
                  float: left;
                  width: 100%;
                  height: 100%;
                  text-decoration: none;
                  color: black;
                  }

.cuadros { width: 100%;
           min-height: 1px;
           padding: 10px 0px;
           overflow: hidden;
           float: left;}

.areas { width: 200px;
         height: 200px;
         margin: auto;
         border-radius: 500px;
         border: 8px solid rgba(255, 255, 255, 0.9);
         box-shadow: 0px 0px 1px black;
         overflow: hidden;
         }
.ferti { background-image: url(img/fertilidad.jpg);
         background-position: center;
         background-size: 150%;}

.logy   { background-image:url(img/inmunology.jpg);
         background-position: -90px center ;
         background-size: 150%;}

.fetal { background-image:url(img/maternof.jpg);
         background-position: center ;
         background-size: 106%; }

.rep { background-image:url(img/genetica.jpg);
         background-position: -100px center ;
         background-size: 150%;}

.areas a:hover { background-color: rgba(215, 201, 225, 0.45);
                 border-radius: 500px;}

h4.relleno { padding-top: 31%;
            width: 97%;
            }

#tratamientos ferti { }
#tratamientos logy { }
#tratamientos fetal { }
#tratamiento rep { }





#servicios { width: 100%;
             min-height: 1px;
             padding: 15px 0px;
             overflow: hidden;}


#servicios img.art { display: block;
                     width: 90%;
                     height: auto;
                     margin: auto;
                     padding-bottom: 15px;
                     }

#servicios article { width: 100%;
                     min-height: 1px;
                     overflow: hidden;
                     }
#servicios p { font-family: 'open_sansregular';
               display: block;
               width: 90%;
               margin: auto;}


#pie { width: 100%;
       min-height: 1px;
       padding: 15px 0px;
       
       border-top:3px solid #CAB55D;
       background-color: #b39bc5;}

.espacios { }



#pie span.copy { display: block;
            width: 95%;
            min-height: 1px;
            padding: 25px 10px 10px 10px;
            margin: 10px 0px;
            text-align: center;
            text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.4);
            font-size: 0.8em;
            border-top:1px dotted rgba(165, 42, 42, 0.17);}

#pie p, #pie span, #pie ul { display: block;
                             width: 90%;
                             font-family: 'open_sansregular';
                             text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.4);
                             list-style-type: none;
                             padding: 0px 10px;}

/*MEDIA QUERIES*/

/*480 breakpoint*/
@media only screen and (min-width: 480px) {

    #menu ul { width: 75%; }
    
    .logo { top: 1px;
            left: 5px; 
            -webkit-transform: rotateZ(0deg);
	        -moz-transform: rotateZ(0deg);
	        -o-transform: rotateZ(0deg);}


}

/*600 breakpoint*/
@media only screen and (min-width: 600px) {
    
    #menu li:nth-child(1), #menu li:nth-child(3) { border-left: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;}
    
    .contenido { padding: 20px 10px 35px 10px;}
    
    .cuadros { width: 50%;}
    .logo { top: 1px;
            left: 28px;}
    
}


/*768 breakpoint*/
@media only screen and (min-width: 768px) {
  
    
  #cabecera { height: 85px; }  
  
  #menu { min-height: 65px; } 
  #menu ul { width: 80%; }  
  #menu li { width: 25%;
             height: 65px;}
  
  #menu li:nth-child(1), #menu li:nth-child(3) { border-left: 0px; }
  #menu a { border-bottom: 0px;
            padding-top: 20px;
            height: 65px;} 
    
  .logo { width: 180px;
          top: 10px;
          left: 8px; }  
    
    .flag { margin-bottom: 5px;}
    
    .tel { display: block;
           width: 468px;
           height: 40px;
            padding: 0px;
            
           float: right;
           }
    
    .tel a { display: block;
             float: right;
             text-align: right;
             box-sizing: border-box;
             }
    
    a.cel, a.tel { width: 45%;
                   height: 40px;
                   background-repeat: no-repeat;
                   background-position: top left;
                   background-size: 17% auto;
                   padding-top: 5px;
                   color: black;
                   font-family: 'arimoregular';
                   font-size: 1.1em;
                   padding-right: 2%;
                   text-decoration: none;
                   box-sizing: border-box;}
    
    a.cel { background-image: url(img/cell.jpg);}
    
    a.tel { background-image: url(img/phone.jpg);}
    
    .callnow { display:none;}
    
  #cuerpo { padding: 20px 0px; }
    
  
    .btninfo { width: 30%;
               margin: 15px 15% 0px 55%; }
    
    #cuerpo p, #servicios p { line-height: 2.2rem;
                              font-size: 1.1rem; }
    
    .contenido { padding: 45px 20px 45px 20px;
                 
    }
    
    .cuadros { width: 50%; }
    
    #tratamientos { padding-top: 30px;
                    padding-bottom: 50px;}
    
    #servicios { padding: 25px 0px;}
    
    h5 { padding-bottom: 35px;}
    
   #servicios img.art { width: 30%;
                        float: left;
                        margin: 0px 20px 0px 20px;}
    
    
    
  #pie span.copy { padding-top: 27px;}
    
}

/*992 breakpoint*/
@media only screen and (min-width: 992px) {
    
    
    .cuadros { width: 25%; }
    #menu a { font-size: 1.2rem;    }
    
    #menu ul { width: 80%;
               margin-right: 4%;
}
    
    .homeart { display: none;
               float:right;
               width: 320px;
               margin-left: 10px;}
    
    .solve { width: 35%;
             margin: 10px 70% 20px 5px;}
    
    .contenido {  padding: 45px 40px 45px 40px;}
    #servicios { padding: 45px 20px 45px 20px; }
    
    
    
    #tratamientos { padding-bottom: 60px;}
    
    
    
    
    
}

/*1280 breakpoint*/
@media only screen and (min-width: 1280px) {
    
    .flag { width: 96%;}
  .tel { margin-right: 2.7%;} 
  .contenido { padding: 45px 5.1% 45px 5.1%;} 
    
    
    .logo { left: 35px;
            top:0px;
            width: 200px;} 
    #menu ul { margin-right: 4.2%;
               width: 80%; }
    
    #menu li:first-child { display: block;}
    
    #menu li { width: 20%; }
    
    .btninfo { width: 25%; }
    
    .homeart { display: block;
               margin-left: 10px;
               width: 400px;}
    
    #sidebar { width: 25% !important;}
    
    #servicios { padding: 30px 9.5% 45px 9.5%; }
    
    .espacios { width: 26%;
                float: left;
                padding: 0px 0px 40px 5%;}
    
    .copy { float:left;}
    
    #pie { overflow: hidden;}
    
    #pie ul, #pie span, #pie p { padding: 0px;}
    
    h6 { border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    padding: 0px 0px 0px 0px;}
    
    h6.warning, h6.int { padding-top: 0px;}
    
    #pie span.copy { width: 100%;
                     padding-top: 25px;
                     text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
                     border-top: 1px solid rgba(0, 0, 0, 0.4);}
    #contacto { padding-top: 0px;}
    
}

/*1380 breakpoint*/
@media only screen and (min-width: 1380px) {
    
    .contenido { padding-top: 35px;}
    
    
}

/*1680 breakpoint*/
@media only screen and (min-width: 1680px) {
    
    #cabecera { height: 85px;
                margin-bottom: 8px;}
    .logo { width: 230px;
            left: 7%;
            top:-2px;}
    .flag { padding-top: 12px;
            width: 86%;}
    
    .tel { margin-right: 13.6%; }
    .ph { margin-right: 0px;}
    
    
    #menu { min-height: 75px;}
    #menu ul { min-height: 75px;
               width: 75%;
               margin-right: 8%;}
    #menu li { min-height: 75px;}
    #menu a { min-height: 75px;
              font-size: 1.5em;
              border-right: 0px;
              padding-top: 19px;
              }
    
    #menu a:hover { background-color: transparent;
                    text-decoration: underline;
                    color: #153994;}
    
    .contenido { padding: 45px 14% 45px 14%;
                 }
    #cuerpo span { font-size: 1.14em; }
    
    #cuerpo p { font-size: 1.3em;
                line-height: 1.8em;
                color: rgba(28, 26, 26, 0.88);}
    
    .cuadros { padding-bottom: 40px;
               padding-top: 20px;
               width: 19.5%;}
    
    #servicios {  padding: 30px 12% 45px 14%;}
    #servicios a.service { margin-left: 33%;
                           width: 18%;}
    
    h5 { padding-bottom: 40px;}
    
    .first { margin-left: 11%;
             }
    
    .last { margin-right:11%;
             
             }
    .espacios { width: 20.2%;}
    .espfirst { margin-left: 10%;  }
    .esptree { margin-right: 10%;  }
}


/*2024 breakpoint*/
@media only screen and (min-width: 2024px) {
    
  #cabecera { height: 110px; }
    
    .logo { width: 250px;
            left: 16%;
            top:0px;}  
    .tel { font-size: 1.4em;
           height: 50px;
            width: 640px;
           }
    
    a.tel, a.cel { padding-top: 8px;
                   height: 50px;
                   background-size: 18% auto;}
    
    #menu ul { width: 55%;
               margin-right: 20%;}
    
    #servicios, .contenido {
    padding: 55px 22% 55px 22%;
}
    h5 { font-size: 1.8rem;
         padding-bottom: 60px;}
    
    .first { margin-left: 22%; }
    .last { margin-right: 22%;}
    .cuadros { width: 14%;}
    .areas { width: 230px;
             height: 230px;}
    h4.relleno {padding-top: 38%;
                width: 97%;}
    
}








